<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="left-image"></div>
        <div class="form-section">
            <div th:if="${successMessage}" class="alert alert-success">
                <span th:text="${successMessage}"></span>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger">
                <span th:text="${errorMessage}"></span>
            </div>
            <h2>Login Here</h2>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <button type="submit">Login</button>

            </form>
        </div>
    </div>

</body>

</html>