<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
</head>

<body>
    <div class="container">
        <div class="left-image"></div>
        <div class="form-section">
            <h2>Plan your event effortlessly</h2>
            <form action="/register" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <label for="email">email:</label>
                <input type="text" id="email" name="email" required><br><br>

                <button type="submit">Register</button>
                <a href="/login"><button type="button">Login</button></a>

            </form>
        </div>
    </div>
</body>

</html>